.validation-container {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 20px;
}

.validation-container.valid {
  background-color: rgb(205, 12, 12);
}

.validation-container.invalid {
  background-color: rgb(0, 255, 30);
}
